flask==3.0.3
python-dotenv==1.0.1
pyyaml==6.0.1
boto3==1.29.20
werkzeug==3.0.3
python-docx==1.1.2
PyPDF2==3.0.1
flask-migrate==4.0.7
aijson-meta==0.1.6
nest_asyncio==1.6.0
beautifulsoup4==4.12.3
xhtml2pdf==0.2.16
pillow
gunicorn
